{
  "parser": "babel-eslint",
  "extends": ["airbnb/base"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-plusplus": "off"
  }
}