{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "semi": [2, "always"],
    "comma-dangle": ["error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "functions": "never"
      }
    ]
  },
  "plugins": ["jest"]
}